*{
	margin: 0;
	padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;

}

input:not([type=checkbox]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

h1 {
    margin: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(12, 180, 236);

}

h2 {
    margin: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(12, 180, 236) ;
    margin-left: 4rem;
}

#newTask {
    display:flex;
}

#addTask {
    border: 2px solid black;
    font-size: 12px;
    border-radius: 1rem;
    margin-left: 0.5rem;
    height: 2rem;
    width: 5rem;
    font-weight: bold;
}

#addTask:hover {
    opacity: 0.5;
}

#taskInput {
    border: 2px solid black;
    border-radius: 1rem;
    margin-left: 2rem;
    font-size: 25px;
    width: 25rem;
    background-color: rgb(169, 162, 212);
    text-align: center;
}

#taskList {
    margin-left: 2rem;
}
.task, .delete, .edit {
    margin-top: 0.2rem;
    margin-left: 0.1rem;
}


.task {
    line-height: 20px;
    vertical-align: middle;
    margin-right: 0.2rem;
    width: 20rem;
    border: solid 1px black;
    background-color: rgb(206, 194, 218);
    border-radius: 2rem;
    text-align: center;
 }
 .task:hover{
    opacity: 0.5;
}


.content .delete, .edit{
   border: solid 1px black;
   height: 1.2rem;
   width: 3rem;
   font-size: 10px;
   font-weight: bold;
   border-radius: 1rem;
   background-color: rgb(220, 111, 111);
}
.content {
    display: flex;
}

.content .edit {
    background-color: aquamarine;
 }

 .content .edit:hover { opacity: 0.5; }
 .content .delete:hover {opacity: 0.5; }
    
 
 .task .strike:hover {
    background-color: rgb(149, 143, 187);
 }

 .task .strike {
    line-height: 20px;
    vertical-align: middle;
    margin-right: 0.2rem;
    width: 20rem;
    border: solid 1px black;
    background-color: rgb(206, 194, 218);
    border-radius: 2rem;
    text-align: center;
    text-decoration: line-through;
 }




