*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    margin: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(12, 180, 236);

}

h2 {
    margin: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(12, 180, 236) ;
    margin-left: 4rem;
}

#newTask {
    display:flex;
}

#addTask {
    border: 2px solid black;
    font-size: 12px;
    border-radius: 1rem;
    margin-left: 0.5rem;
    height: 2rem;
    width: 5rem;
}

#taskInput {
    border: 2px solid black;
    border-radius: 1rem;
    margin-left: 2rem;
    font-size: 25px;
    width: 25rem;
    background-color: rgb(169, 162, 212);
    text-align: center;
}

#taskList {
    margin-left: 2rem;
}

#tasks .text:hover{
    background-color: rgb(149, 143, 187);
}
#taskList .text{
    line-height: 20px;
    vertical-align: middle;
    margin-right: 0.2rem;
    width: 20rem;
    border: solid 1px black;
    background-color: rgb(206, 194, 218);
    border-radius: 2rem;
    text-align: center;
 }
 .strike:hover {
    background-color: rgb(149, 143, 187);
 }

 .strike {
    line-height: 20px;
    vertical-align: middle;
    margin-right: 0.2rem;
    width: 20rem;
    border: solid 1px black;
    background-color: rgb(206, 194, 218);
    border-radius: 2rem;
    text-align: center;
    text-decoration: line-through;
 }

 #taskList {
	display: flex;
    flex-direction: row;
}


#taskList .buttons .delete {
   border: solid 1px black;
   height: 24px;
   width: 4rem;
   line-height: 22px;
   border-radius: 2rem;
   vertical-align: middle;
   background-color: rgb(220, 111, 111);
}
#taskList .buttons .edit {
    border: solid 1px black;
    height: 24px;
    width: 3rem;
    line-height: 22px;
    border-radius: 2rem;
    vertical-align: middle;
    background-color: aquamarine;
 }
 




